<%- include("partials/header") -%>
<div class="heading">    
    <img id="logo" src="/images/coffee.png" alt="Coffee Cup">
    <h1 class="title">
        80 Degrees Cafe
    </h1>
</div>

<div class="menu">
  <div class="menuitem"><a href="/home"><h3>Home Page</a></div>
    <div class="menuitem"><a href="/menu"><h3>Menu</h3></a></div>
        <div class="menuitem"><a href="/signup"><h3>Signup/Login</h3></a></div>
            <div class="menuitem"><a href="/products" ><h3>Products</h3></a></div>
                <div class="menuitem"><a href="/about"><h3>About Us</h3></a></div>
</div>

<div >
    <img class="banner" src="/images/download.jfif">
    <div class="bannertitle">
    <h1 >Our Coffee is Hotter than your Ex. Don't believe?</h1>
    <h1 >Try One Sip.</h1>
</div>
</div>

<%- include("partials/footer") -%>
