<%- include("partials/header")-%>
<div class="menuheading">
<h1 class="menutitle">Menu</h1>
</div>

<div class="price">
    <h2>Hot Drinks</h2>
    <table>
        <tr>
            <th>Drinks</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Coffee</td>
            <td>$2.00</td>
        </tr>
        <tr>
            <td>Hot Chocolate</td>
            <td>$3.50</td>
        </tr>
        <tr>
            <td>Cappuchino</td>
            <td>$3.00</td>
        </tr>
        <tr>
            <td>Espresso</td>
            <td>$1.50</td>
        </tr>
        <tr>
            <td>Latte</td>
            <td>$3.00</td>
        </tr>
    </table>
    <hr>
</div>

<div class="price">
    <h2>Iced Drinks</h2>
    <table>
        <tr>
            <th>Drinks</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Iced Coffee</td>
            <td>$2.50</td>
        </tr>
        <tr>
            <td>Fruit Refreshner</td>
            <td>$3.00</td>
        </tr>
        <tr>
            <td>Lemonade</td>
            <td>$2.00</td>
        </tr>
        <tr>
            <td>Iced Tea</td>
            <td>$1.50</td>
        </tr>
        <tr>
            <td>Cold Brew</td>
            <td>$3.50</td>
        </tr>
    </table>    
</div>

<button class="menuorder">Order</button>

<h4 id="suggestion">Confused about Order?<br><a href="/suggestion">Click Here</a></h4>

<%- include("partials/footer") -%>