<%-include("partials/header")-%>
<h1 class="result"><%=message%></h1>
<button class="order">Order</button>
<div>
    <h4 id="suggestion">Wanna try something different?<br><a href="/suggestion">Click Here</a></h4>
</div>
<%-include("partials/footer")-%>